.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.heightofAll{
  height: 36vh;
}

.table tr{
  height: 6.2vh;
}


.small{
font: italic 15px sans-serif !important; 

}